.swiper-container,.user-daily-img,.user-daily-img img{
  width: 543px;
  height: 548px;
  color: #fff;
  text-align: center;
  margin: 0px auto;
}
.swiper-wrapper{
  margin-left: -50%;
}
.swiper-slide{
  opacity: 0.3;
}
.swiper-slide-active{
  width: auto !important;
  opacity: 1;
}
.user-date-container .actions button{
  font-size: 16px;
  padding: 10px 30px;
}
.user-date-container .date-actions{
  border: 2px dotted #aaaaaa;
  bottom: 40px;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  width: 80%;
}
.swiper-slide .date-content{
  font-size: 18px;
  clear: both;
}
.swiper-slide .date-location{
  font-size: 16px;
  color: #888;
}
.swiper-slide .media-meta{
  font-size: 18px;
  margin-top: 60px;
} 
.swiper-slide .icon-haw-quote{
  float: left;
  color: #BF2941;
}
.user-name{
  color: #BF2941;
}
.user-date-container .date-actions label{
  background: none repeat scroll 0 0 #f8f4eb;
  display: block;
  font-size: 20px;
  margin: -38px auto 20px;
  width: 106px;
}
.user-date-container .actions{
  
}
.user-daily-img,.user-daily-action{
  float: left;
}
.user-daily-action{
  width: 273px;
  color: #333;
  text-align: left;
  width: 333px;
  padding: 30px;
  position: relative;
}
#wrap-slide-content{
  width: 100%;
  background: #000;
  border-bottom: 4px solid #39b4d5;
}
.user-daily-action{
  background-color: #f8f4eb;
  box-shadow: -1px 0 3px rgba(0, 0, 0, 0.2);
  height: 100%;
}
.swiper-slide{
  display: inline-block;
  overflow: hidden;
}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}

.swiper-slide p {
  font-style: italic;
  font-size: 25px;
}
.pagination {
  position: absolute;
  z-index: 20;
  /*left: 10px;*/
  bottom: 10px;
  left: 50%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
#wrap-content{
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#upgrade-membership{
  background: url(../images/bg-pattern-tile-light.png) repeat scroll 0 0 #fdfaf5;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
#upgrade-membership p{
  line-height: 1.5;
  margin: 0 0 1em;
  text-transform: none;
}
#upgrade-membership li {
  display: block;
  float: left;
  width: 28%;
  font-size: 16px;
  color:#333;
}
#upgrade-membership h3{
  font-size: 20px;
}
#upgrade-membership .startMember{
  font-size: 24px;
  padding: 10px 30px;
  margin: 20px auto;
}
#upgrade-membership li.meet-up {
  margin-left: 8%;
  margin-right: 8%;
}
.dotted-divider {
  overflow: hidden;
  text-align: center;
  background: none;
}
.main__middle__container{
  overflow: hidden;
}